<div class="container">
  <div class="row justify-content-center mt-5" style="height: 60vh">
    <div class="col-12 col-md-8 col-lg-6">
      <img class="img-fluid shadow-lg border border-3 border-white rounded mb-4" src="https://www.elegantthemes.com/blog/wp-content/uploads/2019/12/401-error-wordpress-featured-image.jpg"
        alt="no auth, no access">
      <div class="d-flex justify-content-center mt-4">
        <a href="/" class="btn btn-warning">Home</a>
      </div>
    </div>
  </div>
</div>